.cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 5%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  padding-right: 20px;
  background-color: transparent;
}

.cart-button {
  margin-right: 15px;
  background-color: transparent;
}
