.navbar.navbar-dark {
  background-color: #e66300;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
}

.brand {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px !important;
  margin-left: calc(50% - 160px);
}

.nav-buttons {
  margin-left: auto;
}

.nav-buttons button {
  color: white;
  background-color: transparent;
  margin-left: 10px;
}

.navbar button:last-child {
  margin-right: 10px;
}
