.navbar.navbar-dark {
  background-color: #e66300;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
}

.brand {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px !important;
  margin-left: calc(50% - 160px);
}

.nav-buttons {
  margin-left: auto;
}

.nav-buttons button {
  color: white;
  background-color: transparent;
  margin-left: 10px;
  border-color: #fff;
  font-weight: bold;
}

.navbar button.admin-button,
.navbar button.user-login {
  position: relative;
  transition: all 0.3s ease;
  width: max-content;
}

.navbar button.admin-button::after,
.navbar button.user-login::after {
  content: "\00bb";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  font-weight: bold;
  transition: all 0.5s ease;
  opacity: 0;
  padding-right: 6px;
}

.navbar button.admin-button:hover,
.navbar button.user-login:hover {
  padding-right: 20px;
}

.navbar button.admin-button:hover::after,
.navbar button.user-login:hover::after {
  opacity: 1;
  right: 0;
}

.navbar button:last-child {
  margin-right: 10px;
}