.card {
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 20px 16px;
}


.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card-title {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  color: #666;
  margin-bottom: 15px;
}

.card-text {
  height: 40px;
  margin-bottom: 20px;
  color: #333;
  font-size: 0.9em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  font-size: 0.9em;
}

.button-container button:first-child {
  margin-left: 0;
}

.button-container button:last-child {
  margin-right: 0;
}
