/* Whole page/container */
.payment-container {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Form controls styling */
.payment-form .form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  box-shadow: none;
}

.payment-form .form-control:focus {
  border-color: #1a73e8;
  box-shadow: 0 0 0 0.2rem rgba(26,115,232,.25);
}

.payment-form-button {
  background-color: #3f3f3f !important;
  border: none !important;
  border-radius: 5px;
  padding: 10px 0;
  color: #ffffff;
  font-weight: bold !important;
  transition: background-color .3s ease;
  width: 100%; /* Full width */
}

.payment-form-button:hover,
.payment-form-button:focus {
  background-color: #2b2b2b !important;
  border: none !important;
  outline: none;
}


/* Close button styling */
.close-button {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #495057;
  font-size: 1rem;
  transition: background-color .3s ease;
}

.close-button:hover,
.close-button:focus {
  background-color: #e2e6ea;
  outline: none;
}

/* Modal header styling */
.payment-title {
  font-size: 1.5rem;
  color: #1a73e8;
  font-weight: 500;
}

/* Stripe Element styling */
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  padding: 10px 14px;
  color: #32325d;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.name-field,
.location-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.half-width-input {
  flex: 0 0 48%;
}
